//fonts
$base-font-family: 'Open-Sans', sans-serif;
$accent-font-family: 'Lora', serif;
$accent-additional-font-family: 'Source Sans Pro', sans-serif;

// Grid
$content-width: 117.2rem;
$columns-count: 4;
$column: 8.48em;
$gutter: 1em;