//fonts
$base-font-family: 'Open-Sans', sans-serif;
$accent-font-family: 'Lora', serif;
$accent-additional-font-family: 'Source Sans Pro', sans-serif;

// Grid
$content-width: 117.2rem;
$columns-count: 4;
$column: 8.48em;
$gutter: 1em;

//Colors
$primary-color: #3a3f4b;
$secondary-color: #00a5ff;
$light-gray: #f5f6f8;

//Buttons
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 2.5rem;
$button-height: 7.2rem;
$button-padding: 0 7.2rem;
$button-radius: 3.5rem;

// Disabled styles
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;

// Raised buttons
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten($button-raised-background, 5%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 37px !default;
$button-floating-large-size: $button-floating-size * 1.5 !default;
$button-floating-radius: 50% !default;