.section-brands {
    @extend %section-light;
}

.brands-list {
    padding: 8em 0 12em 0;
    text-align: center;

    > li {
        display: inline-block;
        vertical-align: middle;

        + li {
            margin-left: 6em;
        }
    }
}