.section-testimonials {
    .section-content {
        position: relative;
    }

    %slide-icon {
        @include position(absolute, 50% null null null);
        top: 14em;
        display: inline-block;
        width: 1.7em;
        height: 3.2em;
        background: url('../img/slider-arrow-icon.png') 50% 50% no-repeat;
        cursor: pointer;
    }

    .testimonials-slide-left {
        @extend %slide-icon;
        left: 0;
        transform: rotate(180deg);
    }

    .testimonials-slide-right {
        @extend %slide-icon;
        right: 0;
    }
}

.testimonials-list-wrap {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5em;

    + .testimonials-list-wrap {
        margin-top: 3.6em;
    }
}

.testimonials-items {
    .testimonial {
        text-align: center;
        height: 13.2em;
        line-height: 13.2em;

        .avatar {
            display: inline-block;
            border-radius: 50%;
            width: 11.1em;
            height: 11.1em;
            vertical-align: middle;
        }
    }

    .owl-item.active:nth-of-type(2) .avatar{
        transform: scale(1.2);
    }
}

.testimonials-quotes {
    text-align: center;

    blockquote {
        text-align: center;
        font-size: 2.4em;
        line-height: 1.25;
        color: $primary-color;
        margin-bottom: em(4.7em, 2.4em);
    }

    cite {
        color: $primary-color;

        .site-link {
            text-decoration: underline;
        }
    }
}