.navbar-main {
    @extend %content-wrap;
    padding: 2.4em 0;

    .logo {
        display: inline-block;
    }

    .menu-horizontal {
        > li {
            a {
                display: block;
                padding:1em 2em;
                color: #fff;
                font-size: 1.4em;
                font-weight: 600;
                cursor: pointer;
            }

            + li {
                margin-left: 1em;
            }

            &:hover {
                background-color: rgba(255, 255, 255, .15);
            }
        }
    }
}